extends index

block sub_content
	.add-new-announce-container
		.add-new-announce-name-container
			span 商品名称 :
			input.add_new_announce-name(type='text' placeholder="请输入商品名称")
		.add-new-announce-name-container
			span 商品价格 :
			input.add_new_announce-price(type='text' placeholder="请输入商品价格,格式如:￥15.2元,可不填")
		.add-new-announce-name-container
			span 分类名称 :
			select.add_new_announce-name.grey#className
				- if(data.classData.length>0)
					- for(var i=0;i<data.classData.length;i++)
						option.grey #{data.classData[i].className}
		.add-new-announce-name-container(style="margin-top:30px;")
			span 权重数值 :
			input.qz(type='text' placeholder="权重值为数字,值越大同种分类商品显示越在前,非必填,默认按添加顺序展示" value="")
		.ts
			span.ts-title *温馨提示:
				span.ts-span 离开编辑页面所编辑的内容即不保存
		.add-new-announce-img-container
	div.loading
		div.loading-gif
			img(src="/images/load.gif")
	.footer-add-announce-btn
	.rel-container
		.add-announce-btn
			.add-announce-img-btn 添加图片
			input.add-input-img(type="file")
			.add-announce-submit#addNewGoods 提交
	script(src="/javascripts/jquery.js")
	script(src="/javascripts/add_new_goods.js")