extends index

block sub_content
	.null 一. 添加分类名称
	.add-new-announce-container
		.new-classes-container
		//- .add-new-classes 添加分类
		.subdiv
			span 新增分类
			input.new-classes-input(type='text' placeholder='请输入新增专题分类名')
	.null 二. 添加专题名称
	.add-new-announce-container
		.add-new-announce-name-container
			span 专题名称
			input.add_special-class-name(type="text" placeholder="请输入专题名称")
		.add-new-announce-img-container
		.add_special-class-btn
			.add-announce-img-btn-special 添加图片
			input.add-input-img-special(type="file")
			//- .add-announce-submit 提交

	.null 三. 已有分类	(	可以不做修改	)
	- if(data.specialData.length>0)
		- for(var i=0;i<data.specialData.length;i++)
			.ul
				.li.zt-name	#{data.specialData[i].special_class}
				.li 
					span.delete-class(data-id="#{data.specialData[i]._id}") 删除
			.none-div
	- else
		.no-data 暂无分类
	
	.null 四. 确认提交
	.submit-data 保存并提交
	script(src="/javascripts/add_special_class.js")