extends index

block sub_content

	.add-new-announce-container
		.add-new-announce-name-container
			- if(data.specialList)
				span 专题名称 :
				input.add_new_announce-name(type='text' placeholder="请输入专题名称" value="#{data.specialList.special_name}")
			- else
				span 专题名称 :
				input.add_new_announce-name(type='text' placeholder="请输入专题名称" value="")
		.add-new-announce-name-container
			- if(data.specialList)
				span 权重数值 :
				input.qz(type='text' placeholder="权重值为数字,值越大显示越在前,非必填,默认按添加顺序展示" value="#{data.specialList.qz}")
			-else
				span 权重数值 :
				input.qz(type='text' placeholder="权重值为数字,值越大显示越在前,非必填,默认按添加顺序展示" value="")
		.edit-new-announce-img-container
			- if(data.specialList)
				- if(data.specialList.special_image.length>0)
				- for(var i=0;i<data.specialList.special_image.length;i++)
					.previewAnnounce
						img.previewAnnounceList(src="#{data.specialList.special_image[i].special_image_url}")
						.deleteAnnounceForEdit(data-del-id="#{data.specialList.special_image[i]._id}") 删除
		.add-announce-btn
			.add-announce-img-btn 添加图片
			input.add-input-img(type="file")
			.add-announce-submit 提交
	div.loading
		div.loading-gif
			img(src="/images/load.gif")

	script(src="/javascripts/edit_special_list.js")