extends layout

block content
	.container
		.container-top
		.container-main
			.container-main-content
				.username
					span.span 用户名:
					input#username(type="text" name="username" placeholder="请输入用户名")
				.password
					span.span 密	码	:
					input#password(type="password" name="password" placeholder="请输入密码")
		.container-foot
			div#btn 登录
	script(type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js")
	script(type="text/javascripts" src="/javascripts/config.js")
	script(type="text/javascript" src="/javascripts/cookie.js")
	script(type="text/javascript" src="/javascripts/login.js")
