extends index

block sub_content
	div.form-control
		div
			span 原始密码 :
			input.password.old-password(type="password" placeholder="请输入原始密码")
		div
			span 新密码 :
			input.password.new-password(type="password" placeholder="请输入新密码")
		div
			span 密码确认 :
			input.password.confirm-password(type="password" placeholder="请输入密码确认")
		div.confirm-modify-submit 确认修改
	script(src="/javascripts/modify.js")