extends layout

block content
	input(type="file" id="upload")
	button#btn 确认上传
	img(src="" id="result")
	script(src="//libs.cdnjs.net/zepto/1.1.3/zepto.min.js")
	//- script(src="/javascripts/upload.js")