doctype html
html
	head
	meta(charset="utf-8")
	title 易卖会
	link(rel='stylesheet', href='/stylesheets/pc/common.css')
	body
		.header
			.header-container
				.header-title
					img(src="/images/title.png" width="120px")
				.header-list
					.header-lists
						a.headers(href="/pc/index") 官网首页
					.header-lists
						a.headers(href="/pc/specialActive") 专题活动
					.header-lists
						a.headers(href="/pc/join") 加入我们
				.header-weixin
					img(src="/images/weixin.png")
				.act-us
					.com 关注微信号
					.com 加入我们吧
			.red
				img(src="/images/red.png")
		block content
		.footer
			.foot Copyright@ 2015,江苏慧库天下版权所有
			.foot 电商部 易卖会项目组
		script(src="/javascripts/jquery.js")