extends common 

block content
	.concat-us
		img(src="/images/joinus.png")
		.tel
			.span-container
				img(src="/images/tel.png")
			.span-container
				.tel-name 联系电话
				.tel-number 13771839259

		.tel
			.span-container
				img(src="/images/weixin.png")
			.span-container
				.tel-name 关注官方微信号
				.tel-number yimaihui2015
		.tel
			img(src="/images/ymh.png")
	script(src="/javascripts/join.js")